@charset "UTF-8";

/*---Reset---*/
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

html {
	height: 100%;
}

body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	width: 100%;
}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
*+html .clearfix{min-height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*cssここから追加 \*/

#first{
	position: relative;
	background-image: url("../img/main1.jpg");
	background-size: 120%;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	display: none;
}

#first_catch, #second_catch{
	width: 100%;
    height: 100px;
    position: absolute;
    top: calc(50% - 100px);
    left: 0;
}

#first p, #second p{
	font-size: 80px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
	opacity: 0;
}

#second {
	position: relative;
	background-image: url("../img/main2.jpg");
	background-size: 120%;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	display: none;
}

#top_image {
	display: none;
	clear: both;
	height: 100vh;
	position: relative;
}

#top_image img{
	display: inline-block;
}

.left, .right{
	width: auto;
	height: 100%;
}

.left{
	position: absolute;
	top: 0;
	left: 0;
}

.right{
	position: absolute;
	top: 0;
	right: 0;
}

.middle {
	width: 360px;
	height: 200px;
	position: absolute;
	top: 300px;
	left: 550px;
}

#header {
	display: flex;
	justify-content: space-between;
	padding: 5px 50px;
	height: 90px;
	background-color: rgba(255, 255, 255, 0.8);
	width: 1440px;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
  	visibility: hidden;
	transition: 300ms;
	z-index: 2;
}

.is-fixed {
	opacity: 1!important;
  	visibility: visible!important;
}

.logo {
	width: 150px;
}

#h-list {
	width: 470px;
}

.list {
	display: flex;
	justify-content: space-between;
	padding-top: 45px;
}

#work {
	background-image: url(../img/work_bg.png);
	background-attachment: fixed;
	background-size: 130%;
	background-repeat: no-repeat;
	background-position: center;
	height: 760px;
	padding: 200px 0 100px 0;
}

#work_text {
	width: 50%;
	float: right;
}

#work_text p.index {
	font-size: 24px;
	line-height: 50px;
}

#work_text p {
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
}

.mt20 {
	margin-top: 20px;
}

#area {
	width: 100%;
	padding: 200px 0 100px 0;
	position: relative;
}

#area p.index {
	font-size: 36px;
	line-height: 60px;
	font-weight: bold;
	text-align: center;
}

#pic1 {
	position: absolute;
	top: 150px;
	left: calc(50% + 100px);
	width: 80px;
}

.w100 {
	width: 100%;
}

.center {
	margin: 0 auto;
}

.w60 {
	width: 60%;
}

#recruit {
	background-image: url(../img/recruite_bg.png);
	background-attachment: fixed;
	background-size: 130%;
	background-repeat: no-repeat;
	background-position: center;
	height: 929px;
	padding: 200px 0 100px 0;
}
#recruit p.index {
	color: #fff;
	font-size: 36px;
	line-height: 60px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 40px;
}

#recruit p.sub_index {
	color: #fff;
	border-radius: 10px;
	background: rgba(0, 0,0,0.5);
	margin: 0 auto;
	width: 200px;
	text-align: center;
}
.box {
	width: 300px;
	height: 300px;
	border-radius: 10px;
	background: rgba(0, 0,0,0.5);
	float: left;
	margin: 10px;
}
.box2{
	clear: both;
	width: 620px;
	height: 125px;
	border-radius: 10px;
	background: rgba(0, 0,0,0.5);
	margin: 10px;
}
.box2 .detail{
	width: 50%;
	float: left;
}
#box_area{
	width: 640px;
	margin: 20px auto;
}

#box_area p{
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	line-height: 25px;
}

#company-profile {
	padding: 200px 0 100px 0;
	position: relative;
}

#pic2 {
	position: absolute;
	top: 270px;
	left: calc(50% - 400px);
	width: 80px;
}

#company-profile p.index {
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	line-height: 60px;
	padding: 20px 0;
}
#company-profile table {
	width: 780px;
	margin: 0 auto;
}
tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}
#company-profile tr {
	height: 50px;
}

#company-profile tr th{
	text-align: center;
	width: 200px;
}

#company-profile tr td{
	padding-left: 20px;
	
}

#contact {
	padding: 200px 0 100px 0;
	position: relative;
}

#contact #pic3{
	position: absolute;
	top: 170px;
	left: calc(50% + 120px);
	width: 80px;
}

#contact p.index {
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	line-height: 60px;
	padding: 20px 0;
}

#inquiry {
	height: 460px;
}

#inquiry table {
	width: 780px;
	margin: 0 auto;
}

#inquiry tr {
	height: 40px;
}

#inquiry tr th{
	text-align: center;
	width: 200px;
}

#inquiry td {
	padding-left: 20px;
	height: 40px;
}

.write {
	width: 90%;
	line-height: 24px;
	padding-left: 20px;
}

#confirm {
	width: 178px;
	margin: 50px auto 0 auto;
	cursor: pointer;
}